<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCIYZMyDIZm3hgmmgRLB8-WT7rkU4WMy-I</string>
	<key>GCM_SENDER_ID</key>
	<string>65134226710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miniChatApp</string>
	<key>PROJECT_ID</key>
	<string>mini-chat-app-ff65a</string>
	<key>STORAGE_BUCKET</key>
	<string>mini-chat-app-ff65a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:65134226710:ios:701b60d086b070c0df3437</string>
</dict>
</plist>